.booking-form-wrap{
 border: 6px solid #A6D3A0;
 background-color: white;
 width: 400px;
 height: 300px;
 position:fixed;
}.booking-form{
  // margin-top: 39px;
  width: 348px;
  height: 244px;
}.fix-scroll{
  position: fixed;
}

img.show-image {
  box-shadow: 1em 0 1em grey;
  width: 350px;
  height: 402px;
  border-radius: 19px;
}

.container.show {
  display: flex;
}

.show-infomation {
  margin-left: 1px;
  width: 60%;
}

.column-wrap{
  width: 40%;
}
