.booking-form-wrap{
 background-color: white;
 width: 342px;
 height: 258px;
 margin-top: 42px;
 margin-bottom:42px;
 border-radius: 10px;
}.booking-form{
  width: 288px;
  height: 244px;
  margin-left: 19px;
  margin-top: 17px;
}.fix-scroll{
  position: fixed;
  top: 80px;
}

img.show-image {
  width: 336px;
  height: 419px;
  border-radius: 10px;
  object-fit: cover;
}

.container.show {
  display: flex;
}

.show-infomation {
  margin-left: 1px;
  width: 60%;
}

.column-wrap{
  width: 40%;
}

.button{
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 5px 17px;
  border-radius: 51px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
} :hover {
  opacity: 2;
   // font-weight: bold;
 } a:hover {
  text-decoration: none;
  color: black;
}

.edit {

  font-size: 20px;
  margin: 8px;
}

.show-button{
  margin-left: 66px;
  margin-top: 27px;
}

#check-button{
  margin-top: 20px;
  border: 1px solid #4A4A4A;
  padding: 5px 17px;
  border-radius: 51px;
  font-weight: lighter;
} a{
  color: #4A4A4A;
} a:hover {
  text-decoration: none;
  color: black;
}

