.booking-form-wrap{
 background-color: white;
 width: 342px;
 height: 258px;
 margin-top: 42px;
 margin-bottom:42px;
 border-radius: 10px;
}.booking-form{
  width: 288px;
  height: 244px;
  margin-left: 19px;
  margin-top: 17px;
}.fix-scroll{
  position: fixed;
  top: 80px;
}

img.show-image {
  width: 336px;
  height: 419px;
  border-radius: 10px;
  object-fit: cover;
}

.container.show {
  display: flex;
}

.show-infomation {
  margin-left: 1px;
  width: 60%;
}

.column-wrap{
  width: 40%;
}


.show-button{
    margin-left: 5px;
    margin-top: 26px;
    margin-bottom: 22px;
}
