<!-- Site footer -->
 <footer class="site-footer">
   <div class="container">
     <div class="row">
       <div class="col-sm-12 col-md-6">
         <h6>About GAIA</h6>
         <p class="text-justify">GAIA is a rental marketplace of beautiful gardens for different occasions.</p>
       </div>
       <div class="col-xs-6 col-md-3">
         <h6>LINKS</h6>
         <ul class="footer-links">
           <li>Terms</li>
           <li>Privacy</li>
           <li>Site Map</li>
         </ul>
       </div>

       <div class="col-xs-6 col-md-3">
         <h6>Discover</h6>
         <ul class="footer-links">
           <li>Trust & safty</li>
           <li>Invite friends</li>
           <li>Gift cards</li>
           <li>Community center</li>
         </ul>
       </div>
     </div>
     <hr>
   </div>
   <div class="container">
     <div class="row">
       <div class="col-md-8 col-sm-6 col-xs-12">
         <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by GAIA team.
         </p>
       </div>

       <div class="col-md-4 col-sm-6 col-xs-12">
         <ul class="social-icons">
           <li><a class="fab fa-github" href="https://github.com/fesilvajacquier"></a></li>
           <li><a class="fab fa-github" href="https://github.com/pinplengpai"></a></li>
           <li><a class="fab fa-github" href="https://github.com/YUYUMO"></a></li>
           <li><a class="fab fa-github" href="https://github.com/Orpere"></a></li>
         </ul>
       </div>
     </div>
   </div>
 </footer>
