<div id="container center-div">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-center my-4">
      <h2 class="text-center"><strong>Edit details</strong></h2>
      <br>
      <%= render 'form', garden: @garden %>
    </div>
  </div>
</div>
