.navbar-lewagon {
  color: black;
  justify-content: space-between;
  // background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-toggler-icon {
  color: white; 
}

.nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white;
  .brand-name {
    color: black;
  }
  .nav-link {
  color: black !important;
}
}

.brand-name {
  color: white;
}

.nav-item {
  color: white;
}

.navbar-lewagon-white-standard {
  background-color: white;
  .brand-name {
    color: black;
  }
  .nav-link {
  color: black !important;
}
}
