.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 0px 16px;
  padding-left: 0;
  border: 1px solid rgb(235,235,235);
  height: 150px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  font-size: 15px;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
}

.notification .notification-actions a {
  margin-left: 16px;
  font-size: 14px;
  min-width: 80px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-actions a i {
  padding-right: 5px;
}

.notification .notification-actions a:hover {
  color: white;
}

.img-garden {
  height: 100%;
  object-fit: cover;
  padding: 2px; /* Some padding */
  width: 150px; /* Set a small width */
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.notification h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.notification-actions {
  flex-direction: column;
}
