.notification {
  // display: flex;
  // align-items: center;
  // margin-bottom: 8px;
  // background: white;
  // border: 1px solid rgb(235,235,235);
  margin-bottom: 8px;
  background: white;
}

.notification .notification-content {
  // flex-grow: 1;
  padding: 0;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}

.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease 0.3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 10px;
  margin-right: 4px;
  font-size: 10px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: sticky;
  z-index: 1;
}
/* Control the left side */
.left {
  left: 0;
  padding: 4px;
}
/* Control the right side */
.right {
  right: 0;
  padding: 4px;
}

.notification-wrapper {
  display: flex;

}
#title{
  text-align: center;
}

.card_picture{
  width: auto;
  height: 100px;
  background-size: cover;
}
.notification-content {
  display: flex;
  align-items: flex-end;
}
li {
  list-style:none !important;
}
