.booking-confirmation-container{
  display: flex;
  justify-content: center;
}

.congrats-card {
    background-size: cover;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
     h3{
       text-align: center;
     }
}

.booking-details-card{
  width: 400px;
  height:400px;
  border: 1px lightgrey solid;
  padding: 20px;
  background-color: white;
  h6{
    border: 1px #A6D3A0 solid;
    background-color: #A6D3A0;
    padding: 5px;
    color: white;
  }
}

.update-button{
  background-color: #A6D3A0 !important;
  border: #A6D3A0 !important;
}
